
  
  .login_TxtSize {
    font-size: 40px;
    font-family: "Varela Round", sans-serif;
    color: #ff4301;
    margin-bottom: 10px;
  }
  
  .login_ButtonLogin {
    display: flex;
    flex: 1;
    height: 50px;
    margin-top: 10px;
    background-color: #fba554;
  }
  .login_ButtonRegister {
    height: 50px;
    width: 280px;
    margin-top: 10px;
    background-color: #fba554;
  }
  .login_TextFieldRegister {
    width: 500px;
    margin-top: 10px;
  }
  
  .login_TextFieldLogin {
    margin-top: 10px;
  }
  
  .loginForm{
    margin-left: 50px;
    width: 500px;
    display: flex;
    flex-direction: column;
  }