.step1_header{
    background-color:#4a3f35;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }
.step1_headerText{
    margin: auto;
    color: #fa7d09;
    font-size: 40px;
    margin-left: 10px;
}

.step1_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step1_userName_place{
    height: 60px;
    flex: 9.5;
    font-size: 30px;
}
.step1_contentUpper{
    display: flex;
    flex-direction: row;
}
.step1_menuList{
height: 500px;
width: 300px;
background-color:#4a3f35 ;
display: flex;
flex-direction: column;

}
.step1_menuButton{
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.step1_logoutHederButton{
    height: 40px;
    width: 100px;
    margin-top: 10px;
    margin-right: 10px;
}

.step1_input_place{
    width: 800px;
    margin-top: 50px;
}
.step1_nextStepButton{
    width: 200px;
    height: 100px;
    background-color: #fa7d09;
    margin-top: 10px;
    font-size: 20px;
}
.step1_backStepButton{
    height: 100px;
    background-color: #4a3f35;
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

