.step3_header{
    background-color:#4a3f35;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }
.step3_headerText{
    margin: auto;
    color: #fa7d09;
    font-size: 40px;
    margin-left: 10px;
}

.step3_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step3_userName_place{
    height: 60px;
    flex: 9.5;
    font-size: 30px;
}
.step3_contentUpper{
    display: flex;
    flex-direction: row;
}
.step3_menuList{
height: 500px;
width: 300px;
background-color:#4a3f35 ;
display: flex;
flex-direction: column;

}
.step3_menuButton{
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.step3_logoutHederButton{
    height: 40px;
    width: 100px;
    margin-top: 10px;
    margin-right: 10px;
}

.step3_input_place{
    width: 800px;
    height: 620px;
    margin-top: 50px;
    
    border:2px solid black ;
    border-radius: 5px;

}
.step3_nextStepButton{
    width: 200px;
    height: 100px;
    background-color: #fa7d09;
    margin-top: 10px;
    font-size: 20px;
}
.step3_backStepButton{
    height: 100px;
    background-color: #4a3f35;
    margin-top: 10px;
    font-size: 20px;
    color: white;
}
.step3_selectedWords_place{
   
    height: 620px;
    margin-top: 50px;
    margin-left: 10px;
    width:400px;
    background-color: #ebebeb;
}
.setting{
    font-size: 30px;
    text-align: center;
    margin-top: -1px;
}

