.login_header {
  background-color: #4a3f35;
  height: 40px;
}
.login_headerText {
  color: #fa7d09;
  font-size: 25px;
  margin-left: 10px;
}

.login_content {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
}
.login_login {
  //border: 1px solid black;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
}
.login_register {
  //border: 1px solid black;
  height: 500px;
  width: 800px;
  display: flex;
  flex-direction: column;
}

.login_TxtSize {
  font-size: 40px;
  font-family: "Varela Round", sans-serif;
  color: #ff4301;
  margin-bottom: 10px;
}

.login_ButtonLogin {
  display: flex;
  flex: 1;
  height: 50px;
  margin-top: 10px;
  background-color: #fba554;
}
.login_ButtonRegister {
  height: 50px;
  width: 280px;
  margin-top: 10px;
  background-color: #fba554;
}
.login_TextFieldRegister {
  width: 500px;
  margin-top: 10px;
}

.login_TextFieldLogin {
  margin-top: 10px;
}
